

footer {
    border-top: 1px solid gray;
}

footer > div {
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

footer h1:first-child {
    margin-right: 40px;
    flex-grow: 0;
}

footer div.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.contacts > a {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

footer div.contacts > a.email {
    background-color: #4000ff;
    border: 1px solid #4000ff;
}

footer div.contacts > a.linkedin {
    background-color: #0c467f;
    border: 1px solid #0c467f;
}

footer div.contacts > a.twitter {
    background-color: #198cff;
    border: 1px solid #198cff;
}

footer div.contacts > a.github {
    background-color: #000000;
    border: 1px solid #000000;
}

@media screen and (max-width: 450px) {
    footer {
        margin-bottom: 10px;
    }

    footer h1:first-child {
        margin-right: 0;
    }

    footer > div {
        flex-direction: column;
    }
}