.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to right, #100a7e 0%, #1c1cbe 100%);
    z-index: 99;
}

.header > .nav-bar {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.header > .nav-bar > .nav-item,
.header > .nav-bar > a.nav-item {
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

.header > .nav-bar > div.nav-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 15px 30px 15px 20px;
    margin-right: auto;
}

.header > a.nav-item:not(:first-child) {
    margin-left: 7px;
}

div.nav-item {
    text-decoration: none;
    color: #ececec;
}

div.nav-item:hover, 
a.nav-item:hover, 
div.icon:hover {
    background-color: #6d6d6d;
    font-weight: bold;
}

.header > .nav-bar > div.icon {
    display: none;
}

@media screen and (max-width: 580px) {
    .header > .nav-bar > a.nav-item {
        display: none;
    }

    .header > .nav-bar > div.icon {
        display: block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        padding: 15px;
        margin-left: auto;
    }

    .header > .menu-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(#2f2f2f, #444444);
    }

    menu {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding-left: 0;
        padding-top: 100px;
        text-align: center;
    }

    menu > div.nav-item,
    menu > a.nav-item {
        font-size: 25px;
        padding: 30px;
    }

    menu > a.nav-item {
        display: block;
    }

    menu > div.icon {
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        padding: 15px;
        z-index: 10;
    }
}