.project-card {
    width: 100%;
    max-height: 700px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: 
        linear-gradient(#444444, #444444), 
        linear-gradient(to right bottom, #0e7c0a 0%, #04d6c5 50%, #a2f3ec 100%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
}

.project-card-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6d597a;
    padding: 8px 20px;
}

.project-card-header > h2 {
    letter-spacing: 1px;
    flex-grow: 1;
    margin: 5px 0;
}

.project-card-header > .tags {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.project-card-header > .tags > div,
.project-card-header > .tags > svg,
.project-card-header > .tags > img {
    margin-left: 8px;
}

.project-card-footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px 20px 13px 20px;
}

.project-card-footer > a {
    width: 80px;
    background-color: #198cff;
    color: white;
    border: 1px solid #198cff;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    margin: 0 5px;
    padding: 5px 10px;
}

.project-card-footer > a.site {
    background-color: #53a66f;
    border: 1px solid #53a66f;
}

.project-card-footer > a.github {
    background-color: #000000;
    border: 1px solid #000000;
}

.project-card-content {
    font-size: 18px;
    line-height: 1.5em;
    padding: 8px 20px;
}

.project-card-layout {
    display: flex;
    width: 100%;
}

.project-card-layout {
    max-height: 400px;
}

.project-card-layout.gallery {
    width: 50%;
}

.project-card-media {
    display: flex;
    width: 100%;
}

.project-card-media > img {
    object-fit: contain;
    width: 100%;
    max-height: 400px;
}

.project-card-media.multi {
    overflow-x: scroll;
}

.project-card-media.multi > img {
    margin: 0 20px;
}

.project-card-layout.content {
    width: 50%;
}

.project-card-layout.content > .project-card-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-card-footer {
    border-top: 1px solid #6d597a;
}

@media screen and (max-width: 2000px) {
    .project-card-layout.gallery {
        width: 60%;
    }

    .project-card-layout.content {
        width: 40%;
    }
}

@media screen and (max-width: 1400px) {
    .project-card-layout {
        max-height: 320px;
    }

    .project-card-media > img {
        max-height: 320px;
    }
}

@media screen and (max-width: 1200px) {
    .project-card-layout {
        display: inline-block;
    }

    .project-card-layout.gallery {
        width: 100%;
    }

    .project-card-layout.content {
        width: 100%;
    }

    .project-card-media > img {
        width: 100%;
    }

    p.project-card-content {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 580px) {
    .project-card-header > h2 {
        font-size: medium;
    }

}

@media screen and (max-width: 295px) {
    .project-card-header > h2 {
        font-size: small;
    }
}