.showcases {
    width: 60%;
    max-width: 1500px;
    margin: auto;
}

.showcases-banner {
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right bottom, #100a7e 0%, #1c1cbe 45%, #1a5f93 100%);
    z-index: -1;
}

.showcases-header {
    display: flex;
    width: 60%;
    max-width: 1500px;
    margin: auto;
    align-items: center;
}

.showcases-header > h1 {
    background-image: linear-gradient(to right bottom, #e56b6f 0%, #6d597a 100%);
    background-clip: text;
    color: transparent;
}

.showcases-header > div {
    color: #c6edf4;
    margin-left: auto;
    cursor: pointer;
}

.showcases-header .view-all-icon {
    display: none;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .showcases, .showcases-header {
        width: 70%;
    }
}

@media screen and (max-width: 580px) {
    .showcases, .showcases-header {
        width: 80%;
    }

    .showcases-header .view-all-text {
        display: none;
    }

    .showcases-header .view-all-icon {
        display: block;
    }
}

@media screen and (max-width: 295px) {
    .showcases, .showcases-header {
        width: 90%;
    }
}