.showcases {
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

h1.showcases-header {
    background-image: linear-gradient(to right bottom, #0e7c0a 0%, #04d6c5 100%);
    background-clip: text;
    color: transparent;
}

.showcases-header > div {
    color: #c6edf4;
    margin-left: auto;
    cursor: pointer;
}

.view-more-button {
    display: block;
    width: 200px;
    background-color: #6b03c0;
    color: #d8dfe5;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 5px 25px;
    margin: 0 auto 20px auto;
    cursor: pointer;
}