<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full px-10">
    <div class="flex justify-center">
        <button routerLink="articles" routerLinkActive="bg-blue-600" class="w-full lg:max-w-72 border border-slate-400 rounded-lg bg-slate-500 text-slate-200 px-10 py-2 hover:ring-1 hover:ring-slate-200 hover:bg-blue-800 ease-linear duration-300">
            <span class="text-lg sm:text-xl tracking-wider">Articles</span>
        </button>
    </div>
    <div class="flex justify-center">
        <button class="w-full lg:max-w-72 border border-slate-400 rounded-lg bg-slate-500 text-slate-200 px-10 py-2 hover:ring-1 hover:ring-slate-200 hover:bg-blue-800 ease-linear duration-300">
            <span class="text-lg sm:text-xl tracking-wider">Showcases</span>
        </button>
    </div>
    <div class="flex justify-center">
        <button class="w-full lg:max-w-72 border border-slate-400 rounded-lg bg-slate-500 text-slate-200 px-10 py-2 hover:ring-1 hover:ring-slate-200 hover:bg-blue-800 ease-linear duration-300">
            <span class="text-lg sm:text-xl tracking-wider">Contacts</span>
        </button>
    </div>
    <div class="flex justify-center">
        <button class="w-full lg:max-w-72 border border-slate-400 rounded-lg bg-slate-500 text-slate-200 px-10 py-2 hover:ring-1 hover:ring-slate-200 hover:bg-blue-800 ease-linear duration-300">
            <span class="text-lg sm:text-xl tracking-wider">Chat (Bot)</span>
        </button>
    </div>
</div>